@tailwind base;
@tailwind components;
@tailwind utilities;

.bordered-text {
    /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    font-family: Poppins; color: white;
}

.anon-back {
    background-color:#252525;
    background-image: url('/img/anon-back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-stroke {
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;

    color: white;
}

.rainbow-text {
    background-image: linear-gradient(to left, #FFB88C, #FFE7A1, #95E2FF, #9795DE);   -webkit-background-clip: text;
    color: transparent;
}